.logos {
  @apply flex flex-col content-center gap-9;
}
.logos > * {
  @apply text-center;
}

.name1 {
  font-size: 10vw;
  line-height: 100%;
}

.name2 {
  font-size: 14vw;
  line-height: 100%;
}

.subtitle {
  @apply text-sm text-gray-500;
}

.content {
  @apply text-left;
  font-size: 7vw;
}

img {
  margin: auto;
  display: block;
  width: 12vw;
}

.btn {
  @apply bg-blue-600 p-2 rounded-3xl;
  font-size: 5vw;
}

.saying {
  @apply text-gray-500 text-left text-sm;
}
