.frame {
  @apply grid grid-cols-2 rounded-lg;
  padding: 3vw;
  overflow: hidden;
  background-color: #262626;
}

.myImg {
  @apply ml-auto mr-[3vw];
  width: auto;
  height: 100%;
}

.leftArea {
  @apply flex-col;
}

.bar {
  @apply h-3 mb-3 rounded-md;
}

.name {
  font-size: 4vw;
}

.special {
  @apply text-[#5E5E5E] mt-3;
}

@media screen and (min-width: 574px) {
  .frame {
    padding: 20px;
  }

  .name {
    font-size: 24px;
  }
}
