.frame {
  @apply grid grid-cols-2 rounded-lg;
  padding: 3vw;
  overflow: hidden;
  background-color: #262626;
}

.myImg {
  width: auto;
  height: 100%;
  margin: auto;
}

.leftArea {
  @apply flex-col;
}

.bar {
  @apply h-3 mb-3 rounded-md;
}

.name {
  font-size: 5vw;
}

@media screen and (min-width: 574px) {
  .frame {
    padding: 20px;
  }

  .name {
    font-size: 28px;
  }
}
