@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BASE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  box-sizing: border-box;
  color: white;
  font-family: "BASE";
}

body {
  background-color: black;
  width: 90vw;
  max-width: 574px;
  padding-top: 10vw;
  margin: auto;
}

#root {
  width: 100%;
}
