@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* border: 1px solid white; */
  color: white;
}

body {
  background-color: black;
  width: 90vw;
  max-width: 574px;
  padding-top: 10vw;
  margin: auto;
}

#root {
  width: 100%;
}
