.frame {
  @apply flex bg-[#262626] content-center;
  border-radius: 12px;
  padding: 4vw;
}

/* 이미지 영역 */
.imgArea {
  @apply flex p-7;
  @apply bg-orange-500;
  height: 25vw;
  width: 25vw;
}

.myImg {
  @apply w-auto h-full;
}

/* 텍스트 영역 */
.textArea {
  @apply flex-1 flex flex-col gap-1 justify-between;
  @apply bg-slate-500 w-full p-5;
}

.textArea > * {
  @apply bg-slate-900;
}

.name {
  @apply text-[6vw] font-bold;
}
.tag {
  @apply text-[3vw] font-bold;
}

/* 반응형에서 최대 너비 지정 */
@media screen and (min-width: 574px) {
  .frame {
    padding: 24px;
  }
  .imgArea {
    @apply w-[143.5px] h-[143.5px];
  }
  .name {
    @apply text-[34.44px] font-bold;
  }
  .tag {
    @apply text-[17.22px] font-bold;
  }
}
